/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.style-page {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    gap: 25px;

    > .css-area {
        height: 300px;
        border: 3px solid var(--color-base-30);
        border-radius: 7px;
        width: auto;
        resize: vertical;
    }

    > .snippet-name {
        padding: 5px 3px;
        border-radius: 10px;
        border: 3px solid var(--color-base-50);
        padding-left: 10px;
    }

    > h2 {
        text-align: center;
    }
    
    > h2[data-size="1"] {
        font-size: xxx-large;
    }

    > h2[data-size="2"] {
        font-size: xx-large;
    }

    > h2[data-size="3"] {
        font-size: x-large;
    }

    > h2[data-size="4"] {
        font-size: larger;
    }

    > h2[data-size="5"] {
        font-size: large;
    }

    > .style-saver {
        width: fit-content;
        transition: background-color .3s;
        align-self: flex-end;
    }

    > .style-saver:hover {
        background-color: var(--text-accent);
    }
}

.disable {
    display: none;
}
